<div class="img-fondo">
    <div class="container">
      <h2>Lista de Usuarios</h2>
  
      <div class="search-container">
        <label for="search-id">Buscar por ID:</label>
        <input type="number" id="search-id" placeholder="Ingrese ID">
        <button (click)="buscarProducto()">Buscar</button>
        <button (click)="resetBusqueda()">Restablecer</button> 
        <button (click)="regprod()">Registrar</button> 
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="productoFiltrado.length === 0">
            <td colspan="4">No hay usuarios para mostrar.</td>
          </tr>
          <tr *ngFor="let producto of productoFiltrado">
            <td>{{ producto.id }}</td>
            <td>{{ producto.nombre }}</td>
            <td>{{ producto.precio }}</td>
            <td>{{ producto.stock }}</td>
            <td>
              <button (click)="eliminarProducto(producto.id)">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  