<div class="wrapper fadeInDown">
    <div id="formContent">
      <h2 class="active"> Iiciar sesion</h2>
      <form (submit)="inicioSesion()">
        <input type="text" id="login" class="fadeIn second" name="login" placeholder="Cédula" [(ngModel)]="cedula" name="userInput" required>
        <input type="password" id="password" class="fadeIn third" name="login" placeholder="Contraseña"  [(ngModel)]="password" name="userPass" required>
        <input type="submit" class="fadeIn fourth" value="Log In">
      </form>
    
    </div>
  </div>