<div class="img-fondo">
    <div class="registrar-promo-container">
      <h2>Registrar Promoción</h2>
      <form (submit)="registrarPromocion($event)">
        <label for="id_producto">ID Producto:</label>
        <input id="id_producto" name="id_producto" type="number" required>
    
        <label for="porcentaje">Porcentaje:</label>
        <input id="porcentaje" name="porcentaje" type="number" required>
    
        <button type="submit">Registrar Promoción</button>
      </form>
    </div>
  </div>
  