<div class="img-fondo">
    <div class="registrar-producto-container">
      <h2>Crear Usuario</h2>
      <form (submit)="registrarProducto($event)">
        <label for="id_proveedor">ID Proveedor:</label>
        <input id="id_proveedor" name="id_proveedor" type="text" required>
    
        <label for="nombre">Nombre:</label>
        <input id="nombre" name="nombre" type="text" required>
    
        <label for="precio">Precio:</label>
        <input id="precio" name="precio" type="number" required>
    
        <label for="stock">Stock:</label>
        <input id="stock" name="stock" type="number" required>
    
        <button type="submit">Registrar Producto</button>
      </form>
    </div>
    
  </div>
  