<div class="img-fondo"></div>
<div class="menu-items">
    <h2>Gestion de minimercado</h2>
<div class="container">
  @if (logged) {
    <div class="header">
      <h2>Gestion de minimercado</h2>
      <div class="nav-links">
  <a routerLink="/productos" routerLinkActive="active"
    ariaCurrentWhenActive="page">Productos</a>

  <a routerLink="/listaUsuarios" routerLinkActive="active"
    ariaCurrentWhenActive="page">Usuarios</a>
    
    <a routerLink="/promos" routerLinkActive="active"
    ariaCurrentWhenActive="page">Promociones</a>

    <a routerLink="/proveedores" routerLinkActive="active"
    ariaCurrentWhenActive="page">Proveedores</a>

    <a routerLink="/roles" routerLinkActive="active"
    ariaCurrentWhenActive="page">Roles</a>

    <a routerLink="/historial" routerLinkActive="active"
    ariaCurrentWhenActive="page">Historial</a>

  <button routerLink="/login" routerLinkActive="active" (click)="cerrarSesion()"
    ariaCurrentWhenActive="page">Cerrar Sesión</button>
  </div>
    </div>

  }@else {
  <a routerLink="/login" routerLinkActive="active"
    ariaCurrentWhenActive="page"></a>
  }
</div>
</div>



<router-outlet></router-outlet>
