<header>
    <nav>
      <ul>
        <li><a routerLink="/productos">Productos</a></li>
        <li><a routerLink="/promociones">Promociones</a></li>
        <li><a routerLink="/proveedores">Proveedores</a></li>
        <li><a routerLink="/roles">Roles</a></li>
        <li><a routerLink="/usuarios">Usuarios</a></li>
        <li><a routerLink="/historial">Historial</a></li>
      </ul>
    </nav>
  </header>
  

<app-listusuarios></app-listusuarios>
  <!--
<app-crearusuarios></app-crearusuarios>-->