
.info-container {
  text-align: center;
color: #000000;
background: linear-gradient(45deg, rgb(87, 176, 125), rgba(213, 245, 227, 0));
padding: 10%;
border-radius: 10px;
box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.info-container h3 {
  font-size: 2em;
  margin-bottom: 20px;
  font-weight: bold;
}

.info-container p {
  font-size: 1.2em;
  margin-bottom: 20px;
}

.info-container img {
  width: 100%;
  max-width: 600px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}